.themes {
  position: fixed;
  top: 5px;
  right: 5px;

  &.fixed {
    top: inherit;
    right: inherit;
    position: inherit;
  }

  img {
    width: 55px;
    height: 55px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
