.forgot {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: var(--loginBg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 5vw;

  .forgot-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 400px;
    position: fixed;
    right: 25vw;

    h3 {
      text-align: center;
    }

    .logo {
      width: 100%;
    }

    .mygo-input {
      display: flex;
      align-items: center;

      label {
        width: 100px;
      }

      input {
        width: 260px;
      }
    }

    .buttons {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      a {
        grid-column: 1 / span 2;
        text-align: center;
      }
    }
  }
}

// responsive
.forgot {
  @media screen and (max-width: 1300px) {
    background-position-x: 0vw;
  }

  @media screen and (max-width: 900px) {
    background-position: bottom center;
  }

  .forgot-container {
    @media screen and (max-width: 1200px) {
      background-position-x: 0vw;
      right: 15vw;
    }

    @media screen and (max-width: 1100px) {
      background-position-x: 0vw;
      right: 5vw;
    }

    @media screen and (max-width: 900px) {
      background-position-x: 0vw;
      right: inherit;
      position: relative;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      max-width: 350px;
    }

    .mygo-input {
      label {
        @media screen and (max-width: 900px) {
          width: 130px;
          font-size: 14px;
        }
      }

      input {
        @media screen and (max-width: 900px) {
          width: 200px;
        }
      }
    }
  }
}
