<form [formGroup]="form" class="forgot" (submit)="sendEmail()">
  <div class="forgot-container">
    <img class="logo" src="assets/images/logo.png" alt="">
    <h3>Informe seu email que iremos enviar um link para criação da nova senha</h3>
    <div class="mygo-input">
      <label for="email">Email</label>
      <input id="email" type="text" [formControl]="form.get('email')" placeholder="Email" />
    </div>
    <div class="buttons">
      <button class="mygo-button" type="submit">Enviar email</button>
      <button class="mygo-button" type="button" (click)="backToLogin()">Voltar</button>
    </div>
  </div>
</form>
