<div class="deck-container">
  <section class="deck-section">
    <div class="deck-header">
      <span>Main</span>
      <span>{{ getMainCardsInfo(deck.main) }}</span>
    </div>
    <div class="deck-cards" card-move-area>
      <div *ngFor="let card of deck.main" class="card-move" (mouseenter)="cardHover.emit(card)"
        [ngStyle]="{ backgroundImage: 'url('+card.card_images[0].image_url_small+')' }"></div>
    </div>
  </section>
  <section class="deck-section">
    <div class="deck-header">
      <span>Extra</span>
      <span>{{ getExtraCardsInfo(deck.extra) }}</span>
    </div>
    <div class="deck-cards" card-move-area>
      <div *ngFor="let card of deck.extra" class="card-move" (mouseenter)="cardHover.emit(card)"
        [ngStyle]="{ backgroundImage: 'url('+card.card_images[0].image_url_small+')' }"></div>
    </div>
  </section>
  <section class="deck-section">
    <div class="deck-header">
      <span>Apoio</span>
      <span>{{ getMainCardsInfo(deck.side) }}</span>
    </div>
    <div class="deck-cards" card-move-area>
      <div *ngFor="let card of deck.side" class="card-move" (mouseenter)="cardHover.emit(card)"
        [ngStyle]="{ backgroundImage: 'url('+card.card_images[0].image_url_small+')' }"></div>
    </div>
  </section>
</div>
