* {
  user-select: none;
}

.deck-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.deck-section {
  border: 1px solid black;
  flex-grow: 1;
}

.deck-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}

.deck-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

::ng-deep .card-to,
.deck-cards div {
  margin-right: 5px;
  margin-bottom: 5px;
}

::ng-deep .card-to {
  background: var(--color1);
  opacity: 0.5;
}
