<form [formGroup]="form" class="change" (submit)="submit()">
  <div class="change-container">
    <img class="logo" src="assets/images/logo.png" alt="">
    <div class="mygo-input">
      <label for="password">Nova senha</label>
      <input id="password" type="password" [formControl]="form.get('password')" placeholder="Nova senha" />
    </div>
    <div class="mygo-input">
      <label for="confirmPassword">Confirmar senha</label>
      <input id="confirmPassword" type="password" [formControl]="form.get('confirmPassword')"
        placeholder="Confirmar senha" />
    </div>
    <div class="buttons">
      <button class="mygo-button" type="submit" [disabled]="!form.valid">Enviar email</button>
      <button class="mygo-button" type="button" (click)="backToLogin()">Voltar</button>
    </div>
  </div>
</form>
