<div class="my-cards">
  <app-card-preview class="my-cards-preview" [card]="cardPreview"></app-card-preview>
  <div class="my-cards-cards">
    <div class="my-cards-header">
      <button (click)="saveList()">Salvar listar de cartas</button>
      <input type="text" [formControl]="cardSearch">
    </div>
    <app-card *ngFor="let card of cardsFiltered" (cardHover)="cardPreview = $event" (cardRemove)="removeCard($event)"
      [card]="card"></app-card>
  </div>
  <app-card-search class="my-cards-search" (cardHover)="cardPreview = $event" (cardClick)="addCard($event)">
  </app-card-search>
</div>
