.card-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  width: 300px;
}

.images-small {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin: 5px 0px;
}

.images-small img {
  width: 100%;
  cursor: pointer;
}

.big-image {
  width: 100%;
}

span {
  font-weight: bold;
  display: inline-flex;
  width: 80px;
}

.description div {
  width: 100%;
  height: 100px;
  overflow: auto;
  padding: 3px 0px;
}
