<form [formGroup]="form" class="login-container" (submit)="login()">
  <div>
    <h1>MYGO</h1>
    <input class="mygo-input" type="text" [formControl]="form.get('username')" placeholder="Usuário" />
    <input class="mygo-input" type="password" [formControl]="form.get('password')" placeholder="Senha" />
    <button type="submit" [disabled]="!form.valid">Login</button>
    <button type="button" (click)="register()">Registrar</button>
    <button type="button" (click)="forgotPassword()">Esqueci minha senha</button>
  </div>
</form>
