.container {
  width: 100%;
  height: calc(100vh - 130px);
  padding: 20px;
  overflow: auto;
}

.results {
  display: flex;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.card-list-item {
  display: flex;
}

.card-list-item .card-list-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  flex-grow: 1;
}

.card-list-item .card-list-item-info p span {
  font-weight: bold;
  display: inline-flex;
  width: 50px;
}

.hidden {
  display: none !important;
}

.card-grid {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin-right: 10px;
  width: 100%;
}

.card-grid div {
  margin-right: 5px;
  margin-bottom: 5px;
}

.card-move,
.card-to {
  width: 56.61px !important;
  height: 82.89px !important;
}
